---
import { ClientRouter } from "astro:transitions";
import "../styles/globals.css";
---

<!doctype html>
<html lang="en" class="dark">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width" />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <meta name="generator" content={Astro.generator} />
        <title>Warteschlange</title>
        <ClientRouter />
    </head>
    <body class="prose">
        <slot />
    </body>
</html>
